/* stylea.css */

/* Resetting default margin and padding */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.nutrition-info {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nutrition-info h3 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
