<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ food.Food }} Attributes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/food.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">{{ food.Food }} Attributes</h1>
        <!-- Large image of the food -->
        <img class="food-image img-fluid mt-3" src="{{ url_for('static', filename='images/' + food.Food.lower() + '_image.jpg') }}" alt="{{ food.Food }}" style="width: 300px; height: auto;">

        <!-- Attributes -->
        <div class="nutrition-info mt-5">
            <h3>Nutritional Information</h3>
            <ul class="list-unstyled">
                <li>Protein: {{ food.Protein }}g</li>
                <li>Carbs: {{ food.Carbohydrates }}g</li>
                <li>Fats: {{ food.Fat }}g</li>
                <li>Calories: {{ food.Calories }}kcal</li>
            </ul>
        </div>
    </div>
</body>
</html>
